// Font - Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

@import "variables";
@import "bootstrap";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:62.5%;
}

body {
    color: rgb(38, 38, 38);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size:3rem;
    font-weight:700;
}

h2 {
    font-size:2rem;
    font-weight:600;
}

p {
    font-size:1.2rem;
    font-weight:300;
}

b {
    font-size:1.2rem;
    font-weight:500;
}

.container {
    background-color:$gray-accent;
    width:100%;
    min-height:100vh;
}

select, input {
    -webkit-appearance:none;
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;
    outline:0;
    border:0;
    padding:1rem;
    background-color:$gray-accent;

    &:focus {
        outline:1px solid $accent-color;
    }

    &::placeholder {
        color:rgb(38, 38, 38);
    }
}

option {
    padding:0;
    margin:0;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;
    border:0;
    outline:1px solid $accent-color;
    padding:1rem;
    background:transparent;
    transition:0.3s;
    color:$accent-color;

    &:hover {
        color:white;
        background-color:$accent-hover;
        gap:1.5rem;
    }
}

.max-w {
    width:$max-width;
    padding-left:calc((100% - $max-width)/2);
    padding-right:calc((100% - $max-width)/2);
    max-width:$max-width;
    box-sizing:content-box;
}

.title-line {
    width:75px;
    height:6px;
}

.quiz-start, .result-container {
    padding:4rem 2rem;
}

.progress-bar {
    flex:25;
    height:6px;
    overflow:hidden;
}

.quiz-progress {
    width:50%;
}

.quiz-question {
    position:sticky;
    top:0;
    z-index:1;
    background-color:white;
}

.quiz-answers__single {
    box-sizing:content-box;
    font-size:1.3rem;
    width:40%;
    padding:1rem;
    transition:0.3s;

    &:hover {
        transform: translateY(-5px);
        box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.quiz-answers {
    width:500px;
}

.finished { background-color:$accent-color }
.unfinished { background-color:$gray-accent }


.answer { 
    background-color:$accent-color;
    color:white;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-5px)
}

@media screen and (max-width: $max-width) {	
    .max-w {
        width:calc(100% - 2rem);
        padding-left:1rem;
        padding-right:1rem;
    }
}

@media screen and (max-width: 600px) {	
    .quiz-answers {
        width:100%;
    }
}

@media screen and (max-width: 400px) {	
    .quiz-answers__single {
        width:85%;
    }
}