// Font - Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');


@import "variables";
@import "bootstrap";


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:62.5%;
}

body {
    color: rgb(38, 38, 38);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size:3rem;
    font-weight:700;
}

h2 {
    font-size:2rem;
    font-weight:600;
}

p {
    font-size:1.2rem;
    font-weight:300;
}

b {
    font-size:1.2rem;
    font-weight:500;
}

.container {
    width:100%;
    min-height:100vh;
}